.page {
  height: 100%;

  font-family: $basic-font;
}

.page__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100%;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__scroll {
  right: $paddings-mobile + 5px;
  bottom: 100px;
  z-index: 10;

  display: none;

  &--show {
    display: block;
  }

  @media #{$tablet} {
    right: $paddings-tablet + 10px;
  }

  @media #{$desktop} {
    right: $paddings-desktop + 15px;
  }
}
